

.chartWrapper{
    text-align: center;
}

.chartContainer{
    display: inline-block;
    text-align: center;
    // position: fixed;
    // right: 0;
    // top: 50px;
}
.tweenSelect{
    margin: 24px 0px;
    text-align: center;
}

.section{

}
body{
    margin: 0;
    font-family: Hiragino, 'Microsoft Yahei', Arial, Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased!important;
}


.dom-scroll{
    font-size: 30px;
    text-align: center;
}

.content{
    // width: 800px;
    margin: auto;
}

.tumbling-panel{

    .tumbling-panel-head{
        padding: 10px;
        color: white;
        background-image: linear-gradient(135deg, #a7bff8 0%, #009bff 100%);
        h3{
            display: inline-block;
            margin: 0;
        }
    }
    .tumbling-panel-body{
        padding: 10px;
        border:1px solid #a7bff8;
        border-top: 0px;
        margin-bottom: 24px;
    }
    .tumbling-body-wrapper{
        text-align: center;
    }
}
a{
    text-decoration: none;
    color:#606c71;
    
    &:hover,&:active,&:focus{
        text-decoration: none;
    }
}
// #container{
//     background:linear-gradient(to bottom,#000 0%, #fff 50%,#000 100%);
//     display:inline-block;
//     // padding:50px 80px;
//     font-size:24px;    
//     margin: 40px 100px;
//     vertical-align: top;
// }




//hightlight.css

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

 .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    // background: #1E1E1E;
    color: #3b3939;
  }
  
  .hljs-keyword,
  .hljs-literal,
  .hljs-symbol,
  .hljs-name {
    color: #569CD6;
  }
  .hljs-link {
    color: #569CD6;
    text-decoration: underline;
  }
  
  .hljs-built_in,
  .hljs-type {
    color: #4EC9B0;
  }
  
  .hljs-number,
  .hljs-class {
    color: #B8D7A3;
  }
  
  .hljs-string,
  .hljs-meta-string {
    color: #D69D85;
  }
  
  .hljs-regexp,
  .hljs-template-tag {
    color: #9A5334;
  }
  
  .hljs-subst,
  .hljs-function,
  .hljs-title,
  .hljs-params,
  .hljs-formula {
    color: #e26307;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #57A64A;
    font-style: italic;
  }
  
  .hljs-doctag {
    color: #608B4E;
  }
  
  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-tag {
    color: #9B9B9B;
  }
  
  .hljs-variable,
  .hljs-template-variable {
    color: #BD63C5;
  }
  
  .hljs-attr,
  .hljs-attribute,
  .hljs-builtin-name {
    color: #9CDCFE;
  }
  
  .hljs-section {
    color: gold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  /*.hljs-code {
    font-family:'Monospace';
  }*/
  
  .hljs-bullet,
  .hljs-selector-tag,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #D7BA7D;
  }
  
  .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  
  .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }
  